{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{.title}}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet" >
  </head>
  <body class="bg-dark">
    <div class="container vh-100 bg-body">
      <div class="row position-relative" style="padding: 0;">
        <!-- Botones para crear y ordernar elementos-->
        {{template "control-buttons" .}}

        <div class="col-12" style="padding: 0; background-color: rgb(236 236 236);">
          <div class="d-flex align-items-start">
            
            <!-- ======================================= Barra Lateral Izquierda ==================================== -->
            <div class="col-3 vh-100 nav flex-column nav-pills rounded-end-5" style="background-color: rgb(20 18 35); padding: 2rem;" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <!-- Logo de la empresa -->
              <div class="container-fluid d-flex justify-content-center">
                  <a class="navbar-brand mb-4 bg-light shadow-lg p-3 rounded-4">
                      <img src="/static/img/logo.png" 
                          alt="Logo de la Empresa" 
                          height="130" 
                          class="d-block">
                  </a>
              </div>

              <!-- Información del usuario -->
              <div class="container d-flex justify-content-center">
                  <div class="mb-4 mx-auto d-sm-flex align-items-center">
                      <img class="rounded-circle" style="width: 80px; margin-right: 1rem;" src="/static/img/user_icon.png" alt="logo de usuario">
                      <div class="">
                          <span class="text-light" style="font-weight: 900; color: #ffffff; display: block;">{{.fullname}}</span>
                          <span class="text-white-50 text-break" style="font-weight: 500; color: #ffffff; display: block;">{{.email}}</span>
                          <div class="container justify-content-center" style=" border-radius: 100px; background: linear-gradient(45deg, rgb(139 86 255), rgb(92 224 230));;">
                            <span class="text-white" style="font-size: 0.8rem; font-weight: 900;"> {{.role}}</span>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Botones de navegación -->
              <button class="nav-link {{ if .orderActive }}active{{ end }}" id="v-menu-pedidos-tab" type="button">
                Pedidos
              </button>
              {{if eq .role "superadmin" "admin"}}
              <button class="nav-link {{ if .userActive }}active{{ end }}" id="v-menu-usuarios-tab"  type="button">
                Usuarios
              </button>
              {{end}}
              <button class="nav-link mt-auto" id="v-menu-logout" type="button">
                  Cerrar Sesion
              </button>

            </div>

            <!-- Aquí se inyectará el contenido específico -->
            {{template "content" .}}
          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/base.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    {{template "scripts" .}}
  </body>
</html>
{{end}}