        {{define "control-buttons"}}
        <!-- Boton para crear nuevo elemento-->
        <div class="container">
          <a href="#" class="btn btn-primary rounded-circle shadow-lg position-absolute" style="bottom: 20px; right: 20px; z-index: 1050; width: 60px; height: 60px; padding: 1px;">
            <i class="fas fa-plus fs-2 fw-bold">+</i>
          </a>
        </div>
        <!-- Boton para ordenar elementos-->
        <div class="container">
          <a href="#" class="btn btn-primary rounded-circle shadow-lg position-absolute" style="bottom: 90px; right: 20px; width: 60px; height: 60px; padding: 15px;">
            <img src="/static/img/sort.svg" 
                          alt="Logo de la Empresa" 
                          height="30" 
                          class="d-block"
                          style="filter: brightness(0) invert(1);">
          </a>
        </div>
        {{end}}