        {{define "control-buttons"}}
        <!-- Boton para crear nuevo elemento-->
        <div class="container">
          <a href="user/view" class="btn btn-primary rounded-circle shadow-lg position-absolute" style="bottom: 20px; right: 20px; z-index: 1050; width: 60px; height: 60px; padding: 1px;">
            <i class="fas fa-plus fs-2 fw-bold">+</i>
          </a>
        </div>
        {{end}}            
            
            {{define "content"}}
            <!-- ======================================= Contenidos ==================================== -->
            <div class="col-9 vh-100 tab-content p-5 d-flex flex-column overflow-auto" id="v-pills-tabContent" style="background-color: rgb(236 236 236); padding: 2rem;">
              <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> TAB: USUARIOS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
              <div class="tab-pane fade show active" id="v-pills-usuarios" role="tabpanel" aria-labelledby="v-pills-usuarios-tab" tabindex="1">
                <!-- ********************** Resultados ********************** -->
                <div class="d-flex flex-column flex-grow-1">
                  <!-- ********************** Titulo ********************** -->
                  <div>
                    <p class="fs-4 fw-semibold mb-0" style="display: inline-block;">Filtros de Busqueda de Usuarios</p>
                  </div>

                  <!-- ********************** Filtros********************** -->
                  <div class="container">
                      <div class="row">
                        <!-- ********************** Filtro: Nombre del Usuario ********************** -->
                        <div class="col-6">
                          <div class="">
                            <label for="usernameVal" class="my-label">Nombre del Usuario</label>
                            <input type="email" class="form-control form-control-sm" id="usernameVal" value="{{.filter_username}}">
                          </div>
                        </div>
                        <!-- ********************** Filtro: Rol ********************** -->
                        <div class="col-6">
                          <div class="">
                            <label for="roleVal" class="my-label">Seleccionar rol</label> <br>
                            <select id="roleVal" name="role" class="form-select" >
                                <option value=""            {{ if eq .filter_role ""           }}selected{{ end }} >Todos</option>
                                <option value="superadmin"  {{ if eq .filter_role "superadmin" }}selected{{ end }} >Super Administrador</option>
                                <option value="admin"       {{ if eq .filter_role "admin"      }}selected{{ end }} >Administrador</option>
                                <option value="user"        {{ if eq .filter_role "user"       }}selected{{ end }} >Usuario</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <!-- ********************** Filtro: Correo ********************** -->
                        <div class="col-6">
                          <div class="">
                            <label for="emailVal" class="my-label">Correo</label>
                            <input type="text" class="form-control form-control-sm" id="emailVal" value="{{.filter_email}}">
                          </div>
                        </div>
                        
                        <!-- ********************** Filtro: Estado ********************** -->
                        <div class="col-md-3">
                          <div class="">
                            <label for="statusVal" class="my-label">Seleccionar estado</label> <br>
                            <select id="statusVal" name="status" class="form-select" >
                                <option value=""         {{ if eq .filter_status ""         }}selected{{ end }} >Todos</option>
                                <option value="enabled"  {{ if eq .filter_status "enabled"  }}selected{{ end }} >Activo</option>
                                <option value="disabled" {{ if eq .filter_status "disabled" }}selected{{ end }} >Desactivado</option>
                            </select>
                          </div>
                        </div>
                        <!-- ********************** Filtro: Registros por pagina ********************** -->
                        <div class="col-md-3">
                          <div class="">
                              <label for="recordsPerPageVal" class="my-label">Resultados por Pagina</label> <br>
                              <select id="recordsPerPageVal" name="pages" class="form-select" >
                                  <option value="50" {{ if eq .limit 50 }}selected{{ end }} >50</option>
                                  <option value="20" {{ if eq .limit 20 }}selected{{ end }} >20</option>
                                  <option value="10" {{ if eq .limit 10 }}selected{{ end }} >10</option>
                                  <option value="01" {{ if eq .limit 01 }}selected{{ end }} >01</option>
                              </select>
                          </div>
                        </div>
                      </div>
                  </div>
                  
                  <!-- ********************** BUSCAR ********************** -->
                  <button type="submit" class="btn btn-primary my-button" id="list-users-search-button">Buscar</button>
                  
                  <!-- ********************** Resultados ********************** -->
                  {{if not .show}}
                    <!-- Primera llamada: Se queda completamente en blanco -->
                  {{else}}
                    <!-- Llamada usando filtros, se mostrara resultados o mensaje de No hay resultados -->
                    {{ if not .users}}
                          <!-- -------------------------------------------------------------------------------------- -->
                          <!-- ============================= Caso cuando NO hay resultados ============================= -->
                          <!-- -------------------------------------------------------------------------------------- -->
                          <div class="mb-3" style="background-color: #ffffff; padding: 20px; border-radius: 10px; margin-top: 20px; width: 100%; ">
                            <div class="d-flex flex-column flex-grow-1 justify-content-center">
                              <p class="fs-4">No se encontraron usuarios para mostrar.</p>
                            </div>
                          </div>
                    {{else}}
                          <!-- -------------------------------------------------------------------------------------- -->
                          <!-- ============================= Caso cuando SI hay resultados ============================= -->
                          <!-- -------------------------------------------------------------------------------------- -->
                          <!-- Cards container -->
                          <div class="mb-3" style="background-color: #ffffff; padding: 20px; border-radius: 10px; margin-top: 20px; width: 100%; ">
                            <div class="d-flex flex-column flex-grow-1">
                              {{range .users}}
                              <!-- ||||||||||||||||||| Card ||||||||||||||||||| -->
                              <div class="card w-100 mb-3">
                                <div class="card-body container p-2">
                                  
                                  <a href="/user/{{.ID}}/view" class="stretched-link text-decoration-none"></a>
                                  <div class="row">
                                    <!-- ############## Icono ############## -->
                                    <div class="col-2">
                                      <div class="container justify-content-center">
                                        <img src="/static/img/user_icon.png" 
                                                  alt="User Icon" 
                                                  height="80"
                                                  class="rounded-circle border border-secondary-subtle mb-2">
                                      </div>
                                    </div>
                                    <!-- ############## Meta Datos ############## -->
                                    <div class="col-10">
                                      <div class="container">
                                        <div class="row">
                                          <div class="col-12">
                                            <span class="fw-bold">Nombre: </span> <span>{{.UserFullName}}</span> <br>
                                            <span class="fw-bold">Email: </span> <span>{{.Email}}</span> <br>
                                            <span class="fw-bold">Telefono: </span> <span>{{.Phone}}</span> <br>
                                            <span class="fw-bold">Estado: </span> <span>{{if eq .Status "enabled"}}Activo{{else}}Desactivado{{end}}</span><br>
                                            <span class="fw-bold">Rol: </span> <span>{{.Role}}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div> 
                                  </div>
                                </div>
                              </div> <!-- End Card -->
                              {{end}}
                            </div>
                          </div>

                          <!-- Pagination -->
                          <nav id="orders-pagination-nav" data-current="{{ .current_page }}" data-total="{{ .total_pages }}" aria-label="Page navigation example mt-5">
                              <ul class="pagination justify-content-center">
                                  <!-- Botón Anterior: Se deshabilita con 'disabled' si estás en la página 1 -->
                                  <li class="page-item {{ if eq .current_page 1 }}disabled{{ end }}">
                                      <a class="page-link page-nav-link orders-pagination-link" href="#" data-page="FIRST" aria-label="Previous">
                                          <span aria-hidden="true">&laquo;</span>
                                      </a>
                                  </li>

                                  <!-- Lista de números de páginas -->
                                  {{ range $page := .pages }}
                                      <!-- Si $page es igual a la página actual, Bootstrap le aplica la clase 'active' -->
                                      <li class="page-item {{ if eq $page $.current_page }}active{{ end }}">
                                          <a class="page-link page-nav-link orders-pagination-link" href="#" data-page="{{ $page }}">{{ $page }}</a>
                                      </li>
                                  {{ end }}

                                  <!-- Botón Siguiente: Se deshabilita si estás en la última página -->
                                  <li class="page-item {{ if eq .current_page .total_pages }}disabled{{ end }}">
                                      <a class="page-link page-nav-link orders-pagination-link" href="#" data-page="LAST" aria-label="Next">
                                          <span aria-hidden="true">&raquo;</span>
                                      </a>
                                  </li>

                              </ul>
                          </nav>
                    {{end}}
                  {{end}}
                </div>
              </div>
            </div>
            {{end}}


      {{define "scripts"}}
            <script src="/static/js/list-users.js"></script>
      {{end}}